body{
  background-color: #535bf2;
}
.container{
  max-width: 960px;
  width: 100%;
  margin: 200px auto;
  display: flex;
  justify-content: center;
}
.todo_container{
  width: 230px;
  background-color: white;
  padding: 20px;
  color: black;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.title{
  align-self: center;
}
.btn{
  width: 47px;
  height: 47px;
  background-color: #535bf2;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.resul{
  display: flex;
  flex-direction: column;
}
input{
  height: 47px;
  border-radius: 5px;
}
